@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Joystix Monospace';
    src: url('/assets/fonts/joystix monospace.otf') format('opentype');
}

* {
    font-family: 'Joystix Monospace', sans-serif;
}
